/*--------------------    default settings    --------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul,nav ol,ul,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;cursor: pointer;}
a:hover{text-decoration: none;}
button{cursor: pointer;outline: none;}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/*--------------------    user settings    --------------------*/
body{background:#fff;width:100%;color:#313131;font-size:14px;font-family: 'Roboto Condensed', sans-serif;line-height:1.25;}
.clear {clear: both;height: 0;overflow: hidden;}
.clearfix:after {content: "";display: table;clear: both;}

/* all */
::-webkit-input-placeholder { color: #656565; font-size: 15px;font-weight: 700;}
::-moz-placeholder { color: #656565; font-size: 15px;font-weight: 700;} /* firefox 19+ */
:-ms-input-placeholder { color: #656565; font-size: 15px;font-weight: 700;} /* ie */
input:-moz-placeholder { color: #656565; font-size: 15px;font-weight: 700;}
input, textarea {outline:none;}
input[type='text'], input[type='tel'], input[type='password'], input[type='email'], textarea{background:#ebebeb;width:100%;height:45px;color:#313131;font-size:15px;font-weight: 700;font-family: 'Roboto Condensed', sans-serif;border:1px solid #ebebeb;border-radius:3px;padding:0 20px;margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type='text']:hover, input[type='tel']:hover, input[type='password']:hover, input[type='email']:hover, textarea:hover {/* input hover */}
input[type='text']:focus, input[type='tel']:focus, input[type='password']:focus, input[type='email']:focus, textarea:focus{/* input active */}
textarea{height:60px;line-height: 1;padding:10px 15px;overflow:auto;resize:none;}

strong{font-weight: 700;}
h1{position: relative;color: #fff;font-size: 65px;font-weight: 700;line-height: 1;text-align: center;text-transform: uppercase;text-shadow: 0 0 38px #0071bf;}
h2{position: relative;color: #6a9300;font-size: 52px;font-weight: 700;line-height: 1;text-align: center;text-transform: uppercase;}

/*--------------------    all settings    --------------------*/
.container{
	position:relative;
	margin:0 auto;
	width:1170px;
	padding: 0 15px;
}
	.container:after{
		content: "";
		display: table;
		clear: both;
	}
.a-button, input[type="submit"]{
	position: relative;
	display: inline-block;
	background: #9ddb00;
	width: 100%;
	height: 64px;
	color: #4d5f0c;
	font-size: 31px;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 64px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	border-radius: 3px;
	box-shadow: 0 6px 0 #6a9300;
	outline: none;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.a-button:hover, input[type="submit"]:hover{
	background: #85B900;
}
.a-button:active, input[type="submit"]:active{
	box-shadow: 0 3px 0 #6a9300;
}

/*--------------------    header    --------------------*/
.top_menu{
	position: fixed;
	min-width: 1200px;
	top: 0;
	left: 0;
	right: 0;
	font-size: 0;
	text-align: center;
	padding: 10px 0;
	z-index: 50;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	&.fixed{
		background: rgba(0,0,0,0.6);
	}
	li{
		display: inline-block;
		margin: 0 30px;
		a{
			position: relative;
			display: block;
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			line-height: 30px;
			text-decoration: none;
			text-transform: uppercase;
			padding: 0 25px;
			&:before{
				content: '';
				background: #fff;
				position: absolute;
				bottom: -6px;
				left: 0;
				width: 100%;
				height: 6px;
				border-radius: 3px;
				opacity: 0;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
			&.active:before, &:hover:before{
				opacity: 1;
			}
		}
		&.site-link a{
			font-weight: 400;
			text-transform: lowercase;
		}
	}
}
/*--------------------    head    --------------------*/
.head{
	position: relative;
	background: url('../img/head-bg.png') center top no-repeat;
	min-width: 1200px;
	height: 850px;
	padding-top: 60px;
	box-sizing: border-box;
}
	header{
		position: relative;
		overflow: hidden;
	}	
		.logo{
			float: left;
			width: 170px;
			img{
				max-width: 100%;
			}
		}
		.slogan{
			float: left;
			width: 570px;
			color: #fff;
			font-size: 33px;
			line-height: 38px;
			text-align: center;
			padding-top: 30px;
			margin-left: 130px;
		}
		.header-right{
			float: right;
			width: 270px;
			color: #fff;
			font-size: 19px;
			font-weight: 700;
			text-align: center;
		}
			.phone{
				font-size: 34px;
				a{
					color: #fff;
					text-decoration: none;
				}
			}
			.location{
				font-size: 25px;
			}
			.feedback .a-button{
				height: 55px;
				font-size: 18px;
				line-height: 55px;
			}
	.head-box{
		position: relative;
		position: relative;
		color: #fff;
		font-size: 35px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0 0 13px #0071bf;
		margin-bottom: 35px;
	}
	.head-bottom{
		position: relative;
	}
		.head-form{
			position: relative;
			width: 370px;
			margin: 0 auto;
			.form-body{
				background: url('../img/form-bg.jpg') center bottom no-repeat;
			}
			input[type='text'], input[type='tel'], input[type='password'], input[type='email']{
				background: #fff;
			}
			.form-fields{
				margin-bottom: 25px;
			}
		}
			.form-box{
				position: relative;
				border-radius: 3px;
				overflow: hidden;
			}
				.form-title{
					position: relative;
					background: #f7952a;
					color: #fff;
					font-size: 35px;
					font-weight: 700;
					text-align: center;
					text-transform: uppercase;
					padding: 25px 15px
				}
				.form-body{
					position: relative;
					background: rgba(255,255,255,0.8);
					padding: 30px 0;
				}
					.form-text{
						position: relative;
						color: #fff;
						font-size: 19px;
						font-weight: 700;
						line-height: 26px;
						text-align: center;
						padding: 0 20px;
						margin-bottom: 30px;
					}
					.form-fields{
						position: relative;
						padding: 0 50px;
						margin-bottom: 10px;
					}
					.form-button{
						position: relative;
						padding: 0 30px 6px;
					}
		.house-box{
			position: absolute;
			top: 10px;
		}
			.house-inner{
				left: -70px;
			}
			.house-outer{
				right: 0;
			}
			.house-tip{
				position: absolute;
				background: #9ddb00;
				width: 22px;
				height: 22px;
				border-radius: 50%;
				border: 3px solid #fff;
				cursor: pointer;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
				&:hover, &:active{
					background: #f8952b;
				}
			}
				.house-inner-1{
					top: 90px;
					left: 45px;
				}
				.house-inner-2{
					top: 20px;
					left: 155px;
				}
				.house-inner-3{
					top: 70px;
    				left: 300px;
				}
				.house-inner-4{
					top: 200px;
					left: 185px;
				}
				.house-inner-5{
					top: 220px;
    				left: 320px;
				}

				.house-outer-1{
					top: 40px;
					left: 130px;
				}
				.house-outer-2{
					top: 190px;
					left: 90px;
				}
				.house-outer-3{
					top: 270px;
					left: 90px;
				}
				.house-outer-4{
					top: 90px;
					left: 240px;
				}
				.house-outer-5{
					top: 180px;
					left: 270px;
				}
				.house-outer-6{
					top: 180px;
					left: 340px;
				}
				.house-outer-7{
					top: 245px;
    				left: 350px;
				}
				.house-outer-8{
					top: 270px;
					left: 220px;
				}
				.house-outer-9{
					top: 350px;
					left: 240px;
				}
		.tooltipster-noir{
			color: #4d5f0c;
			font-size: 15px;
			line-height: 22px;
			text-align: center;
			border: 8px solid #9ddb00;
			.tooltipster-content{
				font-family: 'Roboto Condensed', sans-serif;
				padding: 20px 10px;
			}
			.tooltipster-arrow-top-left{
				.tooltipster-arrow-border{
					left: -8px;
					border-left: 0 solid #fff !important;
					border-right: 32px solid transparent !important;
					border-top: 18px solid;
					bottom: -10px;
				}
				span{
					left: 0px;
					border-left: 0 solid #fff !important; 
					border-right: 14px solid transparent !important;
					border-top: 8px solid;
					bottom: -7px;
				}
			}
		}
/*--------------------    about    --------------------*/
.about{
	position: relative;
	background: url('../img/about-bg.png') center 15px no-repeat;
	min-width: 1200px;
	padding: 80px 0;
	h2{
		font-size: 48px;
	}
}
	.about-inner{
		padding-top: 50px;
	}
		.about-video{
			width: 940px;
			margin: 0 auto;
			iframe{
				width: 100%;
				height: 580px;
			}
		}
/*--------------------    installation    --------------------*/
.installation{
	position: relative;
	background: #1071b7;
	min-width: 1200px;
	padding: 80px 0 20px;
	h2{
		color: #fff;
		font-size: 42px;
	}
}
	.installation-inner{
		font-size: 0;
		padding-top: 50px;
		counter-reset: count;
	}
		.installation-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 210px;
			color: #fff;
			text-align: center;
			margin:  0 10px 30px;
			counter-increment: count;
		}
			.installation-img{
				position: relative;
				display: inline-block;
				vertical-align: top;
				background: #b0da1c;
				width: 128px;
				height: 128px;
				border-radius: 50%;
				border: 13px solid #43a7ef;
				margin-bottom: 50px;
				&:before{
					content: counter(count);
					background: #43a7ef;
					position: absolute;
					top: -7px;
					right: -7px;
					width: 49px;
					height: 49px;
					color: #fff;
					font-size: 27px;
					font-weight: 700;
					line-height: 49px;
					text-align: center;
					border-radius: 50%;
				}
				&:after{
					content: '';
					background: #fff;
					position: absolute;
					bottom: -50px;
					left: 50%;
					width: 17px;
					height: 17px;
					border-radius: 50%;
					margin-left: -8px;
				}
				img{
					max-width: 100%;
				}
			}
			.installation-title{
				position: relative;
				height: 50px;
				font-size: 18px;
				font-weight: 700;
				line-height: 24px;
				text-transform: uppercase;
			}
			.installation-text{
				position: relative;
				font-size: 15px;
				font-weight: 300;
				line-height: 22px;
			}
/*--------------------    project    --------------------*/
.project{
	position: relative;
	background: url('../img/solutions-bg.png') center top no-repeat;
	min-width: 1200px;
	padding: 80px 0 20px;
}
	.last-object{
		background: url('../img/last-object-bg.png') 40px top no-repeat, url('../img/last-object-bg.png') right 40px top no-repeat;
		min-width: 1200px;
	}
	.project-inner{
		position: relative;
		padding-top: 40px;
	}
		.project-box{
			position: relative;
			margin-bottom: 30px;
			overflow: hidden;
		}
			.project-left{
				position: relative;
				float: left;
				width: 570px;
			}
			.project-right{
				position: relative;
				float: right;
				width: 570px;
			}
				.project-title{
					color: #434242;
					font-size: 26px;
					font-weight: 700;
					border-bottom: 1px solid #2b2929;
					padding-bottom: 10px;
					margin-bottom: 10px;
				}
				.project-text{
					color: #828282;
					font-size: 19px;
					margin-bottom: 10px;
				}
					.project-gallery{
						overflow: hidden;
					}
						.project-img{
							float: left;
							width: 270px;
							height: 215px;
							border-radius: 3px;
							margin-left: 30px;
							margin-bottom: 30px;
							overflow: hidden;
							img{
								max-width: 100%;
							}
							&:nth-child(odd){
								margin-left: 0;
							}
						}
					.project-video{
						line-height: 0;
						overflow: hidden;
						iframe{
							width: 570px;
							height: 380px;
						}
					}
/*--------------------    comparison    --------------------*/
.comparison{
	position: relative;
	background: #f5f5f5 url('../img/comparison-bg.png') center -40px no-repeat;
	min-width: 1200px;
	padding: 80px 0;
}
	.comparison-inner{
		position: relative;
		padding-top: 50px;
	}
		.comparison-table{
			position: relative;
			border-radius: 3px;
			box-shadow: 0 0 8px rgba(0,0,0,0.17);
			overflow: hidden;
			table{
				width: 100%;
				tbody{

				}
				tr{
					td,th{
						vertical-align: middle;
						width: 390px;
						height: 55px;
						color: #707070;
						font-size: 20px;
						padding: 0 20px;
					}
					&:nth-child(1){
						td{
							&:nth-child(2), &:nth-child(3){
								font-size: 26px;
								font-weight: 700;
								text-transform: uppercase;
							}
						}
					}
					&:nth-child(odd){
						td{
							background: #fff;
							&:nth-child(2){
								background: #e9f9b2;
							}
							&:nth-child(3){
								background: #ffe3d5;
							}
						}
					}
					&:nth-child(even){
						td{
							background: #f0f0f0;
							&:nth-child(2){
								background: #d3ed76;
							}
							&:nth-child(3){
								background: #ffc5bd;
							}
						}
					}
				}
			}
		}
/*--------------------    calculate    --------------------*/
.calculate{
	position: relative;
	padding: 80px 0;
	h2{
		font-size: 44px;
	}
}
	.calculate-inner{
		text-align: center;
		padding-top: 40px;
		.a-button{
			width: 400px;
			height: 74px;
			line-height: 74px;
		}
	}
/*--------------------    footer    --------------------*/
.functionality{
	position: relative;
	background: #f5f5f5 url('../img/functionality-bg.png') center -6px no-repeat;
	min-width: 1200px;
	padding: 80px 0 20px;
	h2{
		color: #1071b7;
	}
}
	.functionality-inner{
		font-size: 0;
		text-align: center;
		padding-top: 50px;
	}
		.functionality-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 210px;
			text-align: center;
			margin: 0 30px 40px;
		}
			.functionality-img{
				position: relative;
				display: inline-block;
				vertical-align: top;
				background: #fff;
				width: 148px;
				height: 148px;
				border-radius: 50%;
				border: 15px solid #e0e0e0;
				margin-bottom: 50px;
				&:after{
					content: '';
					background: #828282;
					position: absolute;
					bottom: -50px;
					left: 50%;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					margin-left: -9px;
				}
				img{
					max-width: 100%;
				}
			}
			.functionality-title{
				position: relative;
				color: #434242;
				font-size: 19px;
				line-height: 24px;
				margin-bottom: 10px;
			}
			.functionality-text{
				position: relative;
				color: #828282;
				font-size: 15px;
				font-weight: 300;
				line-height: 22px;
			}
/*--------------------    scheme-work    --------------------*/
.scheme-work{
	position: relative;
	background: #1071b7 url('../img/scheme-work-bg.jpg') center top no-repeat;
	background-size: auto 100%;
	min-width: 1200px;
	padding: 80px 0 30px;
	h2{
		color: #fff;
		font-size: 54px;
	}
	.scheme-inner{
		padding-top: 50px;
	}
		.scheme{
			position: relative;
			background: url('../img/scheme-bg.png') right top no-repeat;
			height: 740px;
			counter-reset: count;
		}
			.scheme-box{
				position: absolute;
				top: 0;
				left: 0;
				color: #fff;
				font-size: 18px;
				line-height: 27px;
				counter-increment: count;
				&:before{
					content: counter(count);
					position: absolute;
					top: 50%;
					left: -117px;
					width: 50px;
					height: 50px;
					color: #fff;
					font-size: 36px;
					line-height: 50px;
					text-align: center;
					border-radius: 50%;
					margin-top: -25px;
				}
				&:after{
					content: '';
					background: #ffbf11;
					position: absolute;
					top: 50%;
					left: -30px;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					margin-top: -6px;
				}
			}
				.scheme-1{
					top: 0;
					left: 230px;
					width: 180px;
				}
				.scheme-2{
					top: 120px;
					left: 350px;
					width: 210px;
				}
				.scheme-3{
					top: 105px;
					left: 770px;
					width: 300px;
				}
				.scheme-4{
					top: 340px;
					left: 550px;
					width: 220px;
					text-align: right;
					&:before{
						left: auto;
						right: -117px;
					}
					&:after{
						left: auto;
						right: -30px;
					}
				}
				.scheme-5{
					top: 315px;
					left: 180px;
					width: 150px;
					text-align: right;
					&:before{
						left: auto;
						right: -117px;
					}
					&:after{
						left: auto;
						right: -30px;
					}
				}
				.scheme-6{
					top: 510px;
					left: 230px;
					width: 300px;
					&:before{
						top: 10px;
					}
					&:after{
						top: 7px;
						margin-top: 0;
					}
				}
				.scheme-7{
					top: 545px;
					left: 725px;
					width: 320px;
				}
}
/*--------------------    solutions    --------------------*/
.solutions{
	position: relative;
	background: url('../img/solutions-bg.png') center top no-repeat;
	min-width: 1200px;
	padding: 70px 0;
}
	.solutions-inner{
		padding: 40px 0 70px;
	}
		.solutions-text{
			color: #313131;
			font-size: 16px;
			font-weight: 300;
			font-family: 'Roboto', sans-serif;
			line-height: 26px;
			margin-bottom: 20px;
			p{
				margin-bottom: 15px;
			}
			img{	
				max-width: 100%;
				border: 8px solid #6a9300;
				margin-bottom: 30px;
			}
			table{
				width: 100%;
				border: 8px solid #6a9300;
				margin-bottom: 20px;
				thead{
					tr{
						td, th{
							font-weight: 700;
							&:nth-child(1){
								text-align: center;
							}
						}
					}
				}
				tbody{
					tr{
						td{	
							&:nth-child(1){
								width: 340px;
								text-align: left;
							}
							&:nth-child(2){
								width: 170px;
							}
							&:nth-child(3){
								width: 90px;
							}
							&:nth-child(4){
								width: 130px;
							}
							&:nth-child(5){
								width: 90px;
							}
							&:nth-child(6){
								width: 130px;
							}
							&:nth-child(7){
								width: 90px;
							}
							&:nth-child(8){
								width: 130px;
							}
						}
					}
				}
				tr{
					td{
						vertical-align: middle;
						background: #dcf3ff;
						color: #333;
						font-size: 16px;
						font-weight: 300;
						font-family: 'Roboto', sans-serif;
						text-align: center;
						border: 1px solid #2f4783;
						padding: 0 10px;
						margin-bottom: 30px;
						box-sizing: border-box;
					}
				}
			}
		}
	.solutions-set{
		position: relative;
		overflow: hidden;
	}
		.set-box{
			position: relative;
			float: left;
			width: 570px;
			text-align: center;
			margin-left: 30px;
			margin-bottom: 30px;
			&:first-child{
				margin-left: 0;
			}
		}
			.set-title{
				color: #6a9300;
				font-size: 28px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			.set-text{
				color: #6a9300;
				font-size: 16px;
				font-weight: 700;
				line-height: 22px;
				margin-bottom: 10px;
			}
			.set-img{
				line-height: 0;
				border: 4px solid #6a9300;
				img{
					max-width: 100%;
				}
			}
/*--------------------    footer    --------------------*/
.team{
	position: relative;
	background: #f5f5f5 url('../img/functionality-bg.png') center -30px no-repeat;
	min-width: 1200px;
	padding: 80px 0 50px;
	h2{
		color: #1071b7;
	}
}
	.team-inner{
		display: table;
		width: 100%;
		padding-top: 40px;
	}
		.team-video{
			display: table-cell;
			vertical-align: middle;
			width: 500px;
			padding-right: 30px;
			box-sizing: border-box;
			iframe{
				width: 470px;
				height: 315px;
			}
		}
		.team-list{
			display: table-cell;
			vertical-align: middle;
			width: 670px;
		}
			.team-box{
				position: relative;
				float: left;
				width: 300px;
				margin-left: 50px;
				margin-bottom: 25px;
				&:nth-child(odd){
					margin-left: 0;
				}
			}
				.team-head{
					display: table-cell;
					vertical-align: middle;
					width: 128px;
				}
					.team-img{
						position: relative;
						background: #b0da1c;
						width: 128px;
						height: 128px;
						border-radius: 50%;
						border: 7px solid #43a7ef;
						box-sizing: border-box;
						&:after{
							content: '';
							background: #43a7ef;
							position: absolute;
							top: 50%;
							right: -27px;
							width: 12px;
							height: 12px;
							border-radius: 50%;
							margin-top: -6px;
						}
						img{
							max-width: 100%;
							border-radius: 50%;
						}
					}
				.team-body{
					display: table-cell;
					vertical-align: middle;
					width: 172px;
					padding-left: 30px;
					box-sizing: border-box;
				}
					.team-title{
						color: #434242;
						font-size: 19px;
						font-weight: 700;
						text-transform: uppercase;
						margin-bottom: 10px;
					}
					.team-spec{
						color: #828282;
						font-size: 15px;
						font-weight: 300;
					}
/*--------------------    benefits    --------------------*/
.benefits{
	position: relative;
	background: #1071b7 url('../img/scheme-work-bg.jpg') center top no-repeat;
	background-size: auto 100%;
	min-width: 1200px;
	padding: 80px 0 30px;
	h2{
		color: #fff;
		font-size: 54px;
	}
}
	.benefits-inner{
		font-size: 0;
		text-align: center;
		padding-top: 60px;
	}
		.benefits-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 300px;
			color: #fff;
			text-align: center;
			margin: 0 40px 40px;
			&:hover .benefits-img{
				-webkit-transform: rotateY(360deg);
				-moz-transform: rotateY(360deg);
				-o-transform: rotateY(360deg);
				-ms-transform: rotateY(360deg);
				transform: rotateY(360deg);
			}
		}
			.benefits-img{
				position: relative;
				display: inline-block;
				vertical-align: top;
				background: #1172b9;
				width: 148px;
				height: 148px;
				border-radius: 50%;
				border: 15px solid #fff;
				margin-bottom: 50px;
				-webkit-transition: all 0.8s ease;
				-moz-transition: all 0.8s ease;
				-o-transition: all 0.8s ease;
				transition: all 0.8s ease;
				&:after{
					content: '';
					background: #fff;
					position: absolute;
					bottom: -50px;
					left: 50%;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					margin-left: -9px;
				}
				img{
					max-width: 100%;
				}
			}
			.benefits-title{
				position: relative;
				font-size: 19px;
				line-height: 24px;
				margin-bottom: 10px;
			}
			.benefits-text{
				position: relative;
				font-size: 15px;
				font-weight: 300;
				line-height: 22px;
				padding: 0 40px;
			}
/*--------------------    warranty    --------------------*/
.warranty{
	position: relative;
	background: url('../img/warranty-bg.png') center top no-repeat;
	min-width: 1200px;
	padding: 70px 0;
	h2{
		color: #1071b7;
	}
}
	.warranty-inner{
		padding-top: 50px;
	}
		.warranty-img{
			line-height: 0;
			text-align: center;
			margin-bottom: 40px;
			img{
				max-width: 100%;
			}
		}
		.warranty-text{
			color: #313131;
			font-size: 16px;
			font-weight: 300;
			font-family: 'Roboto', sans-serif;
			line-height: 26px;
			text-indent: 25px;
			p{
				margin-bottom: 20px;
			}
		}
/*--------------------    certificates    --------------------*/
.certificates{
	position: relative;
	background: #f5f5f5;
	min-width: 1200px;
	padding: 80px 0;
}
	.certificates-inner{
		padding-top: 50px;
	}
		.certificates-slider{
			width: 1030px;
			margin: 0 auto;
			.slick-arrow{
				position: absolute;
				background: #fff;
				top: 50%;
				width: 70px;
				height: 70px;
				color: transparent;
				font-size: 0;
				border: 0;
				border-radius: 50%;
				margin-top: -35px;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
				&:hover{
					background: #b0da1c;
				}
				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
				}
			}
			.slick-prev{
				left: -70px;
				&:before{
					content: url('../img/arr-left.png');
				}
				&:hover:before{
					content: url('../img/arr-left-hover.png');
				}
			}
			.slick-next{
				right: -70px;
				&:before{
					content: url('../img/arr-right.png');
				}
				&:hover:before{
					content: url('../img/arr-right-hover.png');
				}
			}
		}
			.certificates-box{
				background: #fff;
				border-radius: 3px;
				box-shadow: 0 0 8px rgba(0,0,0,0.17);
				margin: 5px 10px;
				overflow: hidden;
			}
				.certificates-img{
					display: table-cell;
					vertical-align: middle;
					width: 240px;
					height: 340px;
					padding: 15px;
					box-sizing: border-box;
					img{
						max-width: 100%;
					}
				}
				.certificates-hor{
					width: 480px;
					.certificates-img{
						width: 480px;
					}
				}
/*--------------------    production    --------------------*/
.production{
	position: relative;
	background: #f7f7f7 url('../img/production-bg.png') center -5px no-repeat;
	min-width: 1200px;
	padding: 80px 0;
	h2{
		font-size: 54px;
	}
}
	.production-inner{
		display: table;
		width: 100%;
		padding-top: 60px;
	}
		.production-video{
			display: table-cell;
			vertical-align: middle;
			width: 600px;
			padding-right: 30px;
			box-sizing: border-box;
			iframe{
				width: 570px;
				height: 380px;
			}
		}
		.production-gallery{
			display: table-cell;
			vertical-align: middle;
			overflow: hidden;
		}
			.production-img{
				float: left;
				width: 270px;
				height: 215px;
				line-height: 0;
				margin-left: 30px;
				margin-bottom: 30px;
				overflow: hidden;
				&:nth-child(odd){
					margin-left: 0;
				}
				img{
					max-width: 100%;
				}
			}
.questions{
	position: relative;
	background: #1071b7 url('../img/questions-bg.jpg') center top no-repeat;
	background-size: auto 100%;
	min-width: 1200px;
	padding: 70px 0 30px;
	h2{
		color: #fff;
		font-size: 54px;
	}
}
	.questions-inner{
		padding-top: 60px;
		padding-left: 25px;
	}
		.questions-box{
			position: relative;
			background: #fff;
			border: 10px solid #1172b9;
			border-radius: 6px;
			padding: 0 20px;
			margin-bottom: 60px;
			box-sizing: border-box;
			.questions-icon{
				background: #43a7ef;
				position: absolute;
				top: -40px;
				left: -40px;
				width: 50px;
				height: 50px;
				color: #fff;
				font-size: 27px;
				font-weight: 700;
				line-height: 50px;
				text-align: center;
				border-radius: 50%;
			}
			&:hover .questions-icon{
				-webkit-animation: tada 1s ease; /* Chrome, Safari, Opera */
    			animation: tada 1s ease;
			}
		}
			@-webkit-keyframes tada {
				from {
					-webkit-transform: scale3d(1, 1, 1);
					transform: scale3d(1, 1, 1);
				}
				10%, 20% {
					-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -15deg);
					transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -15deg);
				}
				30%, 50%, 70%, 90% {
					-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 15deg);
					transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 15deg);
				}
				40%, 60%, 80% {
					-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -15deg);
					transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -15deg);
				}
				to {
					-webkit-transform: scale3d(1, 1, 1);
					transform: scale3d(1, 1, 1);
				}
			}
			@keyframes tada {
				from {
					-webkit-transform: scale3d(1, 1, 1);
					transform: scale3d(1, 1, 1);
				}
				10%, 20% {
					-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -15deg);
					transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -15deg);
				}
				30%, 50%, 70%, 90% {
					-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 15deg);
					transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 15deg);
				}
				40%, 60%, 80% {
					-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -15deg);
					transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -15deg);
				}
				to {
					-webkit-transform: scale3d(1, 1, 1);
					transform: scale3d(1, 1, 1);
				}
			}
			.questions-title{
				color: #313131;
				font-size: 26px;
				font-weight: 700;
				text-transform: uppercase;
				padding: 15px 0;
				cursor: pointer;
			}
			.questions-text{
				display: none;
				color: #313131;
				font-size: 18px;
				line-height: 27px;
				border-top: 1px solid #313131;
				padding: 15px 0;
			}
/*--------------------    map    --------------------*/
#map{
	height: 590px;
	min-width: 1200px;
}
/*--------------------    footer    --------------------*/
footer{
	position: relative;
	background: #1071b7 url('../img/footer-bg.jpg') center top no-repeat;
	background-size: auto 100%;
	padding: 20px 0;
}
	.footer-center{
		float: left;
		color: #fff;
		padding-top: 25px;
		margin-left: 30px;
	}
		.reg-numbers{
			float: left;
			width: 170px;
			font-weight: 300;
			line-height: 24px;
		}
		.address{
			float: left;
			width: 180px;
			font-weight: 300;
			line-height: 18px;
			margin-left: 30px;
			strong{
				text-transform: uppercase;
			}
		}
			.address-box{
				margin-bottom: 15px;
			}
		.contacts{
			float: left;
			width: 250px;
			margin-left: 30px;
		}
			.contacts-box{
				font-size: 21px;
				font-weight: 300;
				margin-bottom: 20px;
				p{
					margin-bottom: 5px;
				}
				strong{
					text-transform: uppercase;
				}
			}
			.contacts-info{
				font-weight: 300;
				line-height: 18px;
			}
	.footer-right{
		float: right;
		width: 270px;
		color: #fff;
		font-size: 19px;
		font-weight: 700;
		text-align: center;
		padding-top: 25px;
		.location{
			font-size: 16px;
			letter-spacing: -0.02em;
			margin-bottom: 10px;
		}
	}

/*--------------------    modal    --------------------*/
.modal{
	position: relative;
	display: none;
	background: #fff;
	width: 370px;
	padding: 30px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	.form-title{
		background: transparent;
		color: #656565;
		font-size: 18px;
		line-height: 26px;
		padding: 0;
	}
	.form-body{
		padding: 15px 20px;
	}
	.form-button{
		padding: 0 0 6px 0;
	}
}
#modal-success{
	text-align: center;
	.form-title{
		margin-bottom: 10px;
	}
}

body input.red-input{
	border-color: #cc0000;
}

.player-1{
	width: 940px;
	height: 580px;
	margin: 0 auto;
}
	.video-1{
		width: 100%;
		height: 100%;
	}	
.player-2{
	width: 570px;
	height: 380px;
}
	.video-2{
		width: 100%;
		height: 100%;
	}
.player-3{
	width: 470px;
	height: 315px;
}
	.video-3{
		width: 100%;
		height: 100%;
	}

	.mejs-poster{
		background-size: cover;
	}
	.player-2 .mejs-container, .player-2,
	.player-3 .mejs-container, .player-3{
		border-radius: 30px;
		overflow: hidden;
	}
	.player-2 .mejs-container .mejs-controls,
	.player-3 .mejs-container .mejs-controls{
		background: transparent !important;
		left: 5%;
		width: 90%;
	}
	.player-2 .mejs-controls .mejs-time-rail .mejs-time-total,
	.player-3 .mejs-controls .mejs-time-rail .mejs-time-total{
		height: 6px;
	}
	.player-2 .mejs-controls .mejs-time-rail .mejs-time-loaded,
	.player-3 .mejs-controls .mejs-time-rail .mejs-time-loaded{
		background: #c00;
		height: 6px;
	}
	.player-2 .mejs-controls .mejs-time-rail .mejs-time-current,
	.player-3 .mejs-controls .mejs-time-rail .mejs-time-current{
		height: 6px;
	}
	.player-2 .mejs-controls .mejs-time-rail span,
	.player-3 .mejs-controls .mejs-time-rail span{
		height: 6px;
	}
	.player-2 .mejs-controls .mejs-time-rail span.mejs-time-float,
	.player-3 .mejs-controls .mejs-time-rail span.mejs-time-float{
		height: 15px;
	}
	.player-2 .mejs-overlay-button{
		background: url('../img/play.png') center no-repeat;
		background-size: cover;
		background-position: 0 0;
		width: 224px;
		height: 224px;
		margin: -130px 0 0 -112px;
		opacity: 0.3;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.player-2 .mejs-overlay:hover .mejs-overlay-button{
		background-position: 0 0;
		opacity: 0.8;
	}
	.player-3 .mejs-overlay-button{
		background: url('../img/play.png') center no-repeat;
		background-size: cover;
		background-position: 0 0;
		width: 180px;
		height: 180px;
		margin: -110px 0 0 -90px;
		opacity: 0.3;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.player-3 .mejs-overlay:hover .mejs-overlay-button{
		background-position: 0 0;
		opacity: 0.8;
	}
	.player-2 iframe{
		width: 550px;
	    height: 365px;
	    margin: 7px 10px;
	}
	.player-3 iframe{
		width: 450px;
		height: 300px;
	    margin: 8px 10px;
	}